<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />
    <title>Supervised AI Zendesk Export</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      .card {
        margin: 0 auto;
      }
    </style>
  </head>
  <body style="margin: 0 10px">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <h1 style="text-align: center">
      Zendesk tickets in {{data[3]}}.zendesk.com
    </h1>
    <h3 style="text-align: center">created from {{data[1]}} to {{data[2]}}</h3>
    {% for element in data[0] %}
    <div class="card" style="width: 50rem">
      <div class="card-body">
        ID: {{element["id"]}}
        <h5 class="card-title">{{ element["subject"] }}</h5>
        <p class="card-text">{{ element["description"] }}</p>
        <h6 class="card-subtitle mb-2 text-muted">
          Created: {{ element["created_at"] }}
        </h6>
      </div>
    </div>
    {% endfor %}

    <script type="text/javascript" src="src/index.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
